<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.crowdfunding.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.crowdfunding.servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeUtilisateurs</servlet-name>
    <servlet-class>com.crowdfunding.servlets.ListeUtilisateurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeUtilisateurs</servlet-name>
    <url-pattern>/listeUtilisateurs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.crowdfunding.servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.crowdfunding.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeProjets</servlet-name>
    <servlet-class>com.crowdfunding.servlets.ListeProjets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeProjets</servlet-name>
    <url-pattern>/listeProjets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Projet</servlet-name>
    <servlet-class>com.crowdfunding.servlets.Projet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Projet</servlet-name>
    <url-pattern>/projet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageUtilisateur</servlet-name>
    <servlet-class>com.crowdfunding.servlets.PageUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageUtilisateur</servlet-name>
    <url-pattern>/pageUtilisateur</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.crowdfunding.config.InitialisationDaoFactory</listener-class>
  </listener>
</web-app>